@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  height: 100vh;
  margin: auto;
  font-family: 'Poppins';
  -ms-flex-line-pack: center;
  align-content: center;
  max-width: 1200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-top: 40px;
  margin-bottom: 40px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: #000000a8;
}

.center {
  text-align: center;
}

.overview {
  background-color: rgb(247, 248, 255);
}

.nav-container a {
  color: #000000;
}

.pd-1 {
  padding: 1rem;
  max-width: 1000px;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #000000;
  cursor: pointer;
  display: none;
}

.hamburger img {
  height: 20px;
  margin: 0;
  float: right;
}

.hamburger:focus {
  outline: none;
}

.social-media {
  width: 30px;
  float: none;
}

.container {
  padding: 2rem;
  max-width: 720px;
  justify-content: center;
  margin:auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em;
  

}

header .logo {
  color: #000000;
}

header nav {
  float: right;
  
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  display: block;
  padding: 0 1rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem 4rem 2rem;
  font-weight:700;
}

.hero .content-left {
  float: left;
  padding-right: 3rem;
}

.hero .content-right {
  float: right;
}

.hero .content-right .social-media {
  display: block;
}

.hero .content-right .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 4em;
}

.hero .content-right .social-media ul img {
  width: 20px;
  color: pink;
}

.work {
  padding: 2rem;
  max-width: 720px;
}

.work .work-title {
  padding-bottom: 2rem;
}

.hero-button {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 10px 20px 10px 20px;
  margin-right: 1rem;
}

.case-img {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  padding: 2rem;
  color: #000000;
}

.footer img {
  width: 40px;
  display: flex;
  display: inline;
  padding-right: 5px;
}

.footer img:hover {
  color: #000000 !important;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

@media screen and (max-width: 767px) {
  /*
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  }*/


  .logo {
    position: relative;
  }

  .nav-ul {
    position: relative;
  }

  .footer-left {
    float: none;
    display: flex;
    justify-content: center;
  }

  .footer-right {
    float: none;
    display: flex;
    justify-content: center;
  }

  .pd-1 {
    width: 100%;
    height: auto;
  }
}